html {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #1c1c1c;
  background-image: url("../images/background-tall-grain.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
p {
  color: #1c1c1c;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 70px;
  margin-top: 10rem;
  font-weight: 700;
}

.hero p {
  max-width: 75ch;
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto; /* centers horizontally */
}

.card {
  margin: auto;
  padding-top: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: 10rem;
  position: center;
  max-width: 83rem;
  border-radius: 1.5rem;
  background-color: #1e1e1e;
}

.card h2,
.card h3 {
  color: #fcfbf8;
  font-weight: 600;
}

.card p {
  color: #fcfbf8;
}

.info-card,
.link-card {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.info-card {
  padding-bottom: 1rem;
}

.cards {
  flex: 1;
  min-width: 10rem;
  padding: 1.5rem;
  background-color: #2a2a2a;
  border-radius: 1rem;
  line-height: 1.4;
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
}

.cards h3,
.cards p {
  margin: 0;
  margin-bottom: 1rem;
}

.card-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  position: relative;
  top: -0.14rem; /*because of some wierd spacing issues*/
  filter: brightness(0) invert(1);
}

.cta {
  display: flex;
  justify-content: center;
}

.cta button {
  margin-top: 2.5rem;
  border-radius: 1rem;
  width: 15rem;
  margin: 2rem;
  border: none; /*we have to do this for some reason to disable default*/
  padding: 1.5rem;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.cta .primary {
  background-color: #1c1c1c;
  color: #fcfbf8;
  /*sliding arrow animation setup*/
  transition: 0.3s ease;
  position: relative;
  padding-right: 1.5rem;
}

.cta .primary::after {
  content: " →";
  position: absolute;
  right: 1.5rem;
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.primary:hover::after {
  opacity: 1;
  transform: translateX(0);
}

.cta .secondary {
  background-color: transparent;
  color: #1c1c1c;
  border-color: #1c1c1c;
  border-style: solid;
  border-width: 5px;
  transition: 0.3s ease;
}

.primary:hover {
  cursor: pointer;
  padding-right: 3rem;
}

.secondary:hover {
  background-color: #1c1c1c;
  color: #fcfbf8;
  cursor: pointer;
}

.navbar {
  display: flex;
  background: #1c1c1caa;
  border-color: #1c1c1caa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  top: 0px;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  border-style: solid;
  border-bottom-color: #505050;
  border-width: 1px;
}

.logo {
  margin-left: 4rem;
  width: 5rem;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0; /* we need to reset all margins bc. browser sets it*/
  margin-right: 4rem;
  padding: 0;
  gap: 0.938rem;
}

.item a {
  padding-right: 2rem;
  text-decoration: none;
  color: #fcfbf8;
  font-weight: 500;
  transition: color 0.2s ease;
}

.item a:hover {
  color: #d0d0d0;
}

.highlight {
  transition: 0.3s ease;
}

p:hover .highlight {
  color: #ffe000;
  background-color: #1c1c1c;
}
