html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background-tall-grain.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  color: #fcfbf8;
}

.navbar {
  display: flex;
  background: #1c1c1caa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1.875rem;
  padding: 0.625rem 1.25rem;
  margin: 0 auto;
  width: 95%;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 999;
  border-style: solid;
  border-color: #606060;
  border-width: 1px;
}

.logo {
  width: 5rem;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.938rem;
}

.item a {
  padding-right: 2rem;
  text-decoration: none;
  color: #fcfbf8;
  font-weight: 500;
  transition: color 0.2s ease;
}

.item a:hover {
  color: #e9e9e9;
}
